.Home {
  position: relative;
  top: 15rem;
  /* padding-top: 200px; */
  /* padding-top: 10 rem; */
}

body {
  margin: 0;
  background: #0E4C79;
  width: 50vw;
  height: 50vh;
}

img {
  width: 250px;
  height: 250px;
  animation-fill-mode: forwards;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttonContainer{
  background-color:blueviolet;
  display: flex;
  align-items: center;
}


/* .x1 {
  animation: x 15s linear infinite alternate;
  position: relative
}

.y1{
  animation: y 12s linear infinite alternate;
  position: relative
}


.x2 {
  animation: x 17s linear infinite alternate;
  position: absolute
}

.y2{
  animation: y 13s linear infinite alternate;
  position: absolute
}


.x3 {
  animation: x 12s linear infinite alternate;
  position: relative
}

.y3{
  animation: y 15s linear infinite alternate;
  position: relative
}


.x4 {
  animation: x 18s linear infinite alternate;
  position: absolute
}

.y4{
  animation: y 16s linear infinite alternate;
  position: absolute
}

@keyframes x{
  100% {
    transform: translateX( calc(100vw - 100px) );
  }
}

@keyframes y {
  100% {
    transform: translateY( calc(100vh - 100px) );
  }
} */






